{% extends 'Blog/layout_base.html.twig' %}
{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h2>Home</h2>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">section 3</div>
	<div class="large-6 columns">section 4</div>
</div>
{% endblock %}
{% block footer %}
    <div class="row">
    TEXTO PERSONALIZADO
    </div>
    <p>
    OTRO MAS
    </p>
{% endblock %}